#maintext {
    opacity:0;
    transform: skewY(2deg);
    animation: 0.8s ease-out 2s 1 slideinTop;
    animation-fill-mode:forwards;
    position: absolute;
    overflow-y:hidden;
    text-shadow: 40px;
    z-index:50;
    color:rgba(255, 255, 255, 0.753);
}

#credit {
    position:absolute;
    right:0;
    bottom:0;
    font-size:20px;
    z-index:50;
    color:rgba(255, 255, 255, 0.959);
    font-family:"Supermercado One", sans-serif;
    transform: skewY(-2deg);
    margin-right:50px;
    margin-bottom:50px;
}
#creditshadow {
    margin-right: 50px;
    margin-bottom: 50px;
    color:white;
    font-family:"Supermercado One", sans-serif;
    right: 0;
    opacity: 1;
    bottom: 0;
    transform: skewY(-2deg);
    position: absolute;
    font-size:20px;
    animation: none;
}
.shadow {
    opacity: 0;
    transform:inherit;
    animation: 0.8s ease-out 2s 1 slideinTop;
    animation-fill-mode: forwards;
    filter:blur(2px);
    overflow:hidden;
    margin:0;
    right:inherit;
    bottom:inherit;
    color:white;
    font-size:inherit;
    z-index:1;
    right:inherit;
}
.weatherinfo {
    margin: 75px 0 0 25px;
    position: absolute; 
    transform: skewY(2deg);
    font-size:45px;
    z-index:20;
    opacity:0;
    animation: 0.8s ease-out 2.5s 1 slideinTop;
    animation-fill-mode:forwards;
}
#weatherinfo {
    opacity:0;
    animation: 0.8s ease-out 2.5s 1 slideinTop;
    animation-fill-mode:forwards;
    color:rgba(255, 255, 255, 0.753);
}
.clock {
    transform: skewY(-2deg);
    color:rgba(255, 255, 255, 0.753);
    right:0;
    opacity:0;
    overflow:visible;
    margin-right:6%;
    position:absolute;
    font-family:"Supermercado One", sans-serif;
    font-size:75px;
    animation: 0.8s ease-out 2s 1 slideinRight;
    animation-fill-mode: forwards;
}
#spinner {
    position:fixed;
    width:100%;
    height:100%;
    display:grid;
    place-items: center;
}
#container {
    color:white;
    position: absolute;
    margin-top:70px;
    padding-left:80px;
    z-index:50;
    font-size:50px;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 600;
    letter-spacing: 0.8px;
    width:100%;
}
.ui {
    display:none;
}
.ui-block {
    display:block;
}
#background-image {
    transition: background-image 2s;
    animation: blurbackground 1s ease-in 0s 1;
    filter: blur(0px);
    position:fixed;
    width:120%;
    height:120%;
}
html{
    height:100%;
}
* {
    box-sizing: border-box;
}
body {
    background-color:rgb(0, 0, 0);
    margin:0;
    width:100%;
    height:100%;
    overflow-x:hidden;
}
@keyframes slideinTop {
    from {
        transform: translateY(-100%) skewY(0deg);
        opacity: 0;
    }
    to {
        transform: translateY(0) skewY(2deg);
        opacity: 1;
    }
}
@keyframes slideinRight {
    from {
        transform: translateX(100%) skewY(0deg);
        opacity: 0;
    }
    to {
        transform: translateX(0) skewY(-2deg);
        opacity: 1;
    }
}
@keyframes blurbackground{
    0% {
        filter: blur(16px)
    }
    100% {
        filter: blur(0px)
    }
}